
{__NO_LAYOUT__}
<div id="content-container" class="container">
    <div class="row">

        <div class="col-md-9">

            <div class="panel panel-default panel-intro">


                <form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
                        <div class="col-xs-12 col-sm-8">
                          {$res.title}
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
                        <div class="col-xs-12 col-sm-8">
                            {$res.content}
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>
