<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" data-rule="required" class="form-control" name="row[title]" type="text" value="{$row.title|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Description')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-description" class="form-control" name="row[description]" type="text" value="{$row.description|htmlentities}">
        </div>
    </div>



    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" data-source="user/user/index" data-live-search="true" data-field="nickname" data-live-search="true"  class="form-control selectpage" name="row[user_id]" type="text" value="{$row.user_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Articletype_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-articletype_id" data-rule="required" data-source="articletype/feikuaixun" class="form-control selectpage" name="row[articletype_id]" type="text" value="{$row.articletype_id|htmlentities}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Label_ids')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-label_ids" data-rule="required" data-source="label/index" data-multiple="true" class="form-control selectpage" name="row[label_ids]" type="text" value="{$row.label_ids|htmlentities}">
        </div>
    </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Img')}:</label>
            <div class="col-xs-12 col-sm-8">
                <div class="input-group">
                    <input id="c-img" class="form-control" size="50" name="row[img]" type="text" value="{$row.img|htmlentities}">
                    <div class="input-group-addon no-border no-padding">
                        <span><button type="button" id="plupload-img" class="btn btn-danger plupload" data-input-id="c-img" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-img"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                        <span><button type="button" id="fachoose-img" class="btn btn-primary fachoose" data-input-id="c-img" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                    </div>
                    <span class="msg-box n-right" for="c-img"></span>
                </div>
                <ul class="row list-inline plupload-preview" id="p-img"></ul>
            </div>
        </div>

 <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('视频')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-content_media"  class="form-control editor" style="height: 300px;" rows="5" name="row[content_media]" cols="50">{$row.content_media}</textarea>
        </div>
    </div>

        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
            <div class="col-xs-12 col-sm-8">
                <textarea id="c-content" data-rule="required" class="form-control editor" style="height: 900px;" rows="5" name="row[content]" cols="50">{$row.content}</textarea>
            </div>
        </div>

 <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="$row.status"}checked{/in} /> {$vo}</label>
            {/foreach}
            </div>

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Come_from')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-come_from" class="form-control" name="row[come_from]" type="text" value="{$row.come_from|htmlentities}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Url')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-url" class="form-control" name="row[url]" type="text" value="{$row.url|htmlentities}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Read_count')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-read_count" data-rule="required" class="form-control" name="row[read_count]" type="number" value="{$row.read_count|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Show_count')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-show_count" data-rule="required" class="form-control" name="row[show_count]" type="number" value="{$row.show_count|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_reply')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-is_reply" data-rule="required" class="form-control selectpicker" name="row[is_reply]">
                {foreach name="isReplyList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.is_reply"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>

    </div>
    <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">{:__('置顶')}:</label>
                    <div class="col-xs-12 col-sm-8">

                        <select  id="c-top" data-rule="required" class="form-control selectpicker" name="row[top]">
                            {foreach name="isTopList" item="vo"}
                                <option value="{$key}" {in name="key" value="$row.top"}selected{/in}>{$vo}</option>
                            {/foreach}
                        </select>

                    </div>


    </div>

    <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('置顶开始时间')}:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-begin_time" data-rule="" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[begin_time]" type="text" value="{:$row.begin_time?datetime($row.begin_time):''}">
            </div>
    </div>
    <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">{:__('置顶结束时间')}:</label>
                    <div class="col-xs-12 col-sm-8">
                        <input id="c-end_time" data-rule="" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[end_time]" type="text" value="{:$row.end_time?datetime($row.end_time):''}">
                    </div>
        </div>

    <div class="form-group">

      <label class="control-label col-xs-12 col-sm-2">{:__('Is_mine')}:</label>
            <div class="col-xs-12 col-sm-8">

                <select  id="c-is_mine" data-rule="required" class="form-control selectpicker" name="row[is_mine]">
                    {foreach name="isMineList" item="vo"}
                        <option value="{$key}" {in name="key" value="$row.is_mine"}selected{/in}>{$vo}</option>
                    {/foreach}
                </select>

            </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_recommendation')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-is_recommendation" data-rule="required" class="form-control selectpicker" name="row[is_recommendation]">
                {foreach name="isRecommendationList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.is_recommendation"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>




           <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">{:__('创建时间')}:</label>
                <div class="col-xs-12 col-sm-8">
                    <input id="c-create_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[create_time]" type="text" value="{:$row.create_time?datetime($row.create_time):''}">
                </div>
            </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-3">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
