<div id="content-container" class="container">
    <div class="user-section login-section">

        <div class="login-main">
            <form name="form1" id="register-form" class="form-vertical" method="POST" action="/api/user/mobilelogin">
                <input type="hidden" name="invite_user_id" value="0" />
                <input type="hidden" name="captcha" value="123456" />
                {:token()}

                <div class="form-group">
                    <label class="control-label">{:__('Mobile')}</label>
                    <div class="controls">
                        <input type="text" id="mobile" name="mobile" data-rule="required;mobile" class="form-control input-lg" placeholder="{:__('Mobile')}">
                        <p class="help-block"></p>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">{:__('Sign up')}</button>
                </div>
            </form>
        </div>
    </div>
</div>